# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# Source interfaces
# Please check /etc/network/interfaces.d before changing this file
# as interfaces may have been defined in /etc/network/interfaces.d
# NOTE: the primary ethernet device is defined in
# /etc/network/interfaces.d/eth0
# See LP: #1262951
source /etc/network/interfaces.d/*.cfg

{% for interface in interfaces %}
# {{ interface.device }}
auto {{ interface.device }}
iface {{ interface.device }} inet static
 address {{ interface.ipv4_address }}
 netmask {{ interface.ipv4_mask }}

{% endfor %}